@use '../../SCSS/colors';

.container
{
    max-width: 1020px;
    width: 90%;
    margin: auto;
    padding: 0 0 2.5rem;

    .link
    {
        width: 10%;
        min-width: 75px;
        margin: 0 auto 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;

        a
        {
            width: 30px;
            height: auto;
            margin-right: 1rem;
            display: block;
            aspect-ratio: 1/1;

            &:last-child {margin-right: 0;}
            &.linkedIn {background: url(../../../public/images/linkedIn_white.png) no-repeat center/cover;}
            &.github {background: url(../../../public/images/github_white.svg) no-repeat center/cover;}
        }
    }

    p
    {
        font-size: 0.8rem;
        text-align: center;
    }
}