@use 'colors';

.container
{
    max-width: 1020px;
    width: 90%;
    margin: auto;
    padding: 5rem;

    p:nth-of-type(n+2) {margin-top: 1rem;}
}

.hero
{
    height: 100vh;
    min-height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/******* Text Alignment *******/
.lt {text-align: left;}
.ct {text-align: center;}
.rt {text-align: right;}

/******* Text Colors *******/
.wh {color: colors.$white;}
.red {color: colors.$red;}
.black {color: colors.$black;}
.grey {color: colors.$grey;}


/******* Text Sizes *******/
.xlText 
{
    font-size: 5rem;
    line-height: 7rem;
}

.lgText 
{
    font-size: 3rem;
    line-height: 4.2rem;
}

.mdText 
{
    font-size: 1.5rem;
    line-height: 2.1rem;
}

.smdText 
{
    font-size: 1.2rem;
    line-height: 1.68rem;
}

.smText 
{
    font-size: 0.8rem;
    line-height: 1.12rem;
}

.xsText 
{
    font-size: 0.7rem;
    line-height: 0.98rem;
}

/******* Text Weight *******/
.bold {font-weight: 700;}
.med {font-weight: 500;}
.norm {font-weight: 400;}
.thin {font-weight: 100;}